   html, body {
    height: 100%;
   }

   body{
    margin: 0px;
    background-color: #c0c0c0;
    text-align: center;
    font-family: Times, Verdana, serif;
   }

   div.wrapper{
    background-color: #F5F5F5;
    position: relative;
    padding-bottom: 30px;
    border-style: solid;
    border-color: #c30000;
    border-width: 0px 0px 1px 0px;
   }

  div.top{
    width: 786px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #c30000;

  }

   div.header{
    background-image: url('/themes/ansuz_theme_birmingham_color_graphics/images/header_bg.jpg');
    background-repeat: repeat-x;
    background-position: bottom; 
    width: 780px;
    height: 105px;
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: #646464;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: left;
    z-index: 5;
    vertical-align: middle;
   }
   div.header img{
    margin-top: 4px;
   }

   div.menu{
    background-image: url('/themes/ansuz_theme_birmingham_color_graphics/images/menu_bg.jpg');
    background-repeat: repeat-x;
    background-position: middle;
    width: 780px;
    height: 21px;
    border-width: 0px 3px 1px 3px;
    border-style: solid;
    border-color: #646464;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    text-align: left;
    z-index: 10;
   }

   ul{
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
   }

   ul#top-nav li{
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    display: inline;
    color: white;
    z-index: 30;
    
   }
 #navigation h3{
  display:none;
}
   div.menu ul li a{
    text-decoration: none;
    font-family: Times, Verdana, serif;
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 8px;
   }

   div.menu ul li a:hover {
    text-decoration: none;
    color: #DDDDDD;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
   }
   div.galleryCont{
    text-align: center;   
   }
   
   div.galleryCont img{
    width: 200px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #646464;  
   }
   div.mainImg img{
    border-style: solid;
    border-width: 1px;
    border-color: #646464;
    width: 200px;
    height: 140px;  
   }
   div.menu ul li a:active,
   div.menu ul li.active a{
    text-decoration: none;
    color: #c30000;
    font-size: 1em;
    font-weight: bold;
    background-color: #dddddd;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #5c5c5c;
    padding: 5px;
    z-index: 11;
   }

   div.subNav{
    width: 780px;
    background-image: url('/themes/ansuz_theme_birmingham_color_graphics/images/midback.jpg');
    background-repeat: repeat-x;
    border-width: 0px 2px 2px 2px;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
    border-bottom-color: #c30000;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    margin-top: 0px;
    height: 99%
   }
   
   div.serviceTabs{
    height: 0px;
    width: 100%;
    overflow: hidden;
    border-bottom-color: #c30000;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    z-index: 9999;
    margin: 0px;
    padding: 0px;
   }
   
   div.serviceTabs.active{
     height: 200px;
     border-width: 0px 0px 2px 0px;
     border-style: solid;
     border-bottom-color: #c30000;
     z-index: 9999;
     margin: 0px;
     padding: 0px;
   }

   div.page_group{
    background-color: #dddddd;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-right-color: #c30000;
    height: 100%;
    width: 250px;
    text-align: right;
    font-size: .9em;
    color: #C30000;
    float: left;
   }

   li.menu2{
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    display: block;
    color: #c30000;
    list-style: none;
   }

   div.page_group ul li a{
    text-decoration: none;
    font-family: Times, Verdana, serif;
    font-size: .9em;
    color: #c30000;
    font-weight: bold;
    padding: 8px;
   }

   div.page_group ul li a:hover {
    text-decoration: underline;
    color: #c30000;
    font-size: .9em;
    font-weight: bold;
    padding: 8px;
   }

   div.page_group ul li a:active,
   div.page_group ul li a.active{
    text-decoration: underline;
    color: #c30000;
    font-size: .9em;
    font-weight: bold;
    padding: 0px;
   }
  
   div#rightMenuOptions{}
   div.main {
    background-image:url(/themes/ansuz_theme_birmingham_color_graphics/images/mainback.jpg);
    background-repeat:repeat-x;
    color:#646464;
    font-size:small;
    min-height:100%;
    padding-top:25px;
    text-align:left;
    width:100%;
    position: relative;
   }
   
   div.main p{
    color: #4b4b4b;
    font-size:small;
    text-align: left;
    text-indent: 30px;
    padding: 10px;
   }

   div.main p:first-letter{
    color: #c30000;
    font-size:x-large;
   }
   
  div.leftSide{
   width:100px;
   height: 0px;
   position: relative;
   left: 660px;
   top: -110px;
  }

  div.asSeen img{
   border: 0px;  
  }
  
   div.mainImg{
    margin-left: -15px;
    width: 240px;
   }
   
   div.mainText {
    position:relative;
    left:240px;
    top:-150px;
    margin-bottom:-150px;
    width:500px;
   }
   
   div.contactImg{   
    padding:25px;
	 width:240px;
   }
   div.contactText {
	 left:240px;
	 margin-bottom:-150px;
	 position:relative;
	 top:-330px;
	 width:500px;
	}
	
   div.footer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    text-align: center;
   }

  div.footer p{
   color: #c30000;
   font-size: .7em;
   margin: 0px;
  }

div.pagination ul{
  padding: 0;
}
div.pagination ul li{
  float: left;
}
div.pagination li span.disablepage{
  padding: 8px 12px;
  background-color: #999;
  color: #bbb;
}
#content div.pagination ul.links span.currentpage{
  padding: 8px 12px;
  margin-bottom: 0;
  top: 0;
}
.twocol .left{
  width: 70%;
  margin-right: 10px;
}
.twocol .right{
  width: 28%;
  float: right;
}

div.flash{
 padding: 10px;
 border-bottom: 2px solid;
}
div.flash.notice{
  border-color: #aad2a9;
 background-color: #d6ffd5;
}
div.flash.warning{
 border-color: #ead3d3;
 background-color: #fbe4e4;
}
div.flash.error{
 background-color: #faeb9e;
 border-color: #d5a23e;
}
#toolbar{
 background-color: #30314d;
 padding-top: 10px;
 padding-bottom: 10px;
}

ul.toolbar{
 background-color: #30314d;
}

#toolbar ul li{
 display: block;
 float: left;
}
ul.toolbar li a{
 padding: 0 1em;
 color: #eee;
}

div.mapBorder{
 width: 425px;
 height: 350px;
 border-width: 1px;
 border-style: solid;
 border-color: #c30000;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.main ol li{ 
 margin-left: 120px;
 list-style: none;
 color: #4b4b4b;
 font-size:small;
 text-align: left;
}

div.clear{
  clear: both;
}

div.subnav_content{
 text-align: center;
}

div.subnav_content a{
 text-decoration: none;
 color: #c30000;
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 15px;
 margin-bottom: 15px;
 font-size:small;
 padding:10px;
 text-align:left;
 text-indent:30px;
}

div.subnav_content a:hover, div.subnav_content a.hover{
 text-decoration: underline;
 color: #c30000;
}
div#tabsMenu{
 
}

div.subNav p{
 margin-left: 250px;
 margin-top: 0px;
 margin-right: 5px;
 margin-bottom: 5px;
 color:#4B4B4B;
 font-size:small;
 padding:10px;
 text-align:left;
 text-indent:30px;
}

div.navbar_links{
 position: relative;
 left: 570px;
 top: 0px;
 margin-right: 690px;
}

td.label{
 vertical-align: top;
 text-align: right;
}

div.main table{
 margin-left: 140px;
}
.button{
 margin-left: 210px;
 background: #c0c0c0;
 color: #c30000;
 font-weight: bold;
}
div.other_logos{
 text-align: center;
 vertical-align: top;
 margin-left: auto;
 margin-right: auto;
}
div.other_logos a{
 border-style: none;
 border-width: 0px;
 padding: 10px;
}
div.other_logos img{
 border-style: none;
 border-width: 0px;
}

td.logos_and_such{
 vertical-align: top;
}
div.other_logos table{
 align: center;
 vertical-align: top;
 margin-left: auto;
 margin-right: auto;
}
div.main ol li a{
 text-decoration: none;
 color: #c30000;
}
div.main ol li a.hover, div.main ol li a:hover{
 text-decoration: underline;
 color: #c30000;
}
div.subnav_content a{
 text-decoration: underline;
 color: #c30000;
}
div.subNav{
  overflow:hidden;
}
div.menu ul li a {
font-size:.9em !important;
padding:8px 4px !important;
}
div.menu ul li a:hover {
font-size:.9em !important;
padding:8px 4px !important;
}

.price-list-container h2{
    color: #C30000;
    margin: 20px 0 0 20px;
  }
  .price-list-container table  .primary-head th{
    background-color: #DDD;
    color: #C30000;
  }
  .price-list-container table{
    width: 750px;
    background:#FFFFFF none repeat scroll 0 0;
    border-collapse:collapse;
    font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size:12px;
    margin: 0 0 20px 20px !important;
    text-align:left;
  }
 .price-list-container table tr th{
    border-bottom:2px solid #C30000;
    color:#C30000;
    font-size:13px;
    font-weight:normal;
    padding:10px 8px;
}
.price-list-container table tr td{
  border-bottom:1px solid #CCCCCC;
  color:#666699;
  padding:6px 8px;
}
.price-list-container table tbody tr:hover td{
  color:#009;
}
.price-list-container table.name-riders tr td:first-child, .price-list-container table.name-riders tr th:first-child{
    width:120px;
}
.price-list-container table tr td:first-child, .price-list-container table tr th:first-child
{
  width: 325px;
}
#breadcrumb{
  position: absolute;
  left: 5px;
  top: 5px;
}
